{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
    </style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Applicant Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d"style="color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="color:#ffffff;">&nbsp;Applicants Information</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="{% url 'Login' %}"><i class="fa fa-sign-in"></i>&nbsp;Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <form action="" method='POST'>
        {% csrf_token %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>ContactNo</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for info in info %}
                <tr>
                    <td>{{ info.FullName }}</td>
                    <td>{{ info.Address }}</td>
                    <td>{{ info.ContactNo }}</td>
                    <td>{{ info.Username }}</td>
                    <td>{{ info.Email }}</td>
                    <td><a href="{% url 'update' info.id %}">Edit</td>
                    <td><a class="" href="{% url 'delete' info.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style= "background-color: aqua;"><i>Note: the information display is confidential ememe</i></p>
</form>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/Bootstrap-DataTables.js"></script>
</body>

</html>