{% load static %}
<!DOCTYPE html>

<html>
    
    <head>
        <title>No</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       
        <style>
          body,
          html {
              margin: 0;
              padding: 0;
              height: 100%;
              background: rgb(2, 0, 85) !important;
          }
        </style>

    
      </head>
<body>
      
     <center> 
        <h1><p class="text-danger">SORRY THIS PAGE IS NOT AVAILABLE FOR YOU</p></h1>
        <h1><p class="text-danger">SORRY THIS PAGE IS NOT AVAILABLE FOR YOU</p></h1>
        <h1><p class="text-danger">SORRY THIS PAGE IS NOT AVAILABLE FOR YOU</p></h1>


        <img src="{% static 'media/No.jpg'%}" alt="Flowers in Chania" width="660" height="300">


        
        <h1><p class="text-danger">SORRY THIS PAGE IS NOT AVAILABLE FOR YOU</p></h1>
        <h1><p class="text-danger">SORRY THIS PAGE IS NOT AVAILABLE FOR YOU</p></h1>



</body>

</html>